* text=auto
*.png binary
*.ttf binary
*.otf binary
vendor/** -text whitespace=-blank-at-eol,-blank-at-eof
assets/licenses/** -text whitespace=-blank-at-eol,-blank-at-eof
assets/fonts/*LICENSE* -text whitespace=-blank-at-eol,-blank-at-eof
assets/fonts/OFL-1.1.txt -text whitespace=-blank-at-eol,-blank-at-eof
